.obavestenjeContainter{
    border: 1px black solid;
    width: 80%;
    background-color: white;
    position: relative;
    margin-top: 3%;
    text-align: center;
    margin-bottom: 2%;
}

/*.fieldContainer{
    float: left;
}*/

/*.textField{
    height: 100%;
}*/

.obavestenjeAutor, .obavestenjeTekst, .obavestenjeTema{
    border-bottom: 1px solid black;
}

.obavestenjeAutor{
    font-size: 20px;
}

.obavestenjeTema{
    font-size: 20px;
}

.obavestenjeTekst{
    font-size: 17px;
}

.iconContainer{
    margin-left: 2%;
    width: 5%;
}