.obavestenjeContainter{
    border: 1px black solid;
    width: 80%;
    background-color: gray;
    position: relative;
    margin-top: 5%;
    text-align: center;
}

/*.fieldContainer{
    float: left;
}*/

/*.textField{
    height: 100%;
}*/

.obavestenjeAutor, .obavestenjeTekst, .obavestenjeTema{
    border-bottom: 1px solid black;
}

.iconContainer{
    margin-left: 2%;
    width: 5%;
}