.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }

  .fieldContainer{
    margin-top: 5%;
    margin-left: 5%;
    width: 60%;
  }