  .inputField{
    width: 70%;
    margin-left: 15%;
    float: left;
  }

  #logInBtn{
    float: left;
  }

  .example-container {
    display: flex;
    flex-direction: column;

    margin-left: 30%;
    margin-bottom: 3%;
    float: left;
    margin-top: 2%;
    background-color: white;
    width: 40%;
  }
  
  .i{
    float: left;
  }

  .appLogo{
    margin-left: 30%;
    float: left;
    width: 50%;
    margin-top: 5%;
    height: 125px;
    font-size: 40px;
    font-style: italic;
    color: white;
  }