table {
    width: 100%;
  }

.mat-elevation-z8{
    width: 70%;
    max-height: 35%;
    overflow: auto;
    margin-top: 5%;
    user-select: none;
}

.mat-elevation-z8{
    width: 70%;
    margin-top: 5%;
    max-height: 35%;
    overflow: auto;
    user-select: none;
}