<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" class="sidenav-content">
    <button mat-button (click)="parent.changeView(0);sidenav.toggle()" class="menuBtn">Pocetna</button>
    <button mat-button (click)="parent.changeView(1);sidenav.toggle()" class="menuBtn">Profil</button>
    <button mat-button *ngIf="rangUsera==0" (click)="parent.changeView(2);sidenav.toggle()" class="menuBtn">Nastava</button>
    <button mat-button *ngIf="rangUsera!=3" (click)="parent.changeView(10);sidenav.toggle()" class="menuBtn">Ocene/Izostanci</button>
    <button mat-button *ngIf="rangUsera!=0" (click)="parent.changeView(4);sidenav.toggle()" class="menuBtn">Forum</button>
    <!--Samo admin-->
    <button mat-button *ngIf="rangUsera==3" (click)="parent.changeView(6);sidenav.toggle()" class="menuBtn">Pregled i izmena profila</button>
    <button mat-button *ngIf="rangUsera==3" (click)="parent.changeView(7);sidenav.toggle()" class="menuBtn">Dodavanje i brisanje profila</button>
    <!--Svi-->
    <button mat-button class="menuBtn" (click)="logOut()">Odjavi se</button>
  </mat-sidenav>

  <mat-sidenav-content>
    <p><mat-icon class="menuIcon" (click)="sidenav.toggle()">menu</mat-icon></p>
  </mat-sidenav-content>
</mat-sidenav-container>